.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Button setup */
  .img-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) rotateY(0deg); /* keep button facing forward */
    background-color: rgb(16, 2, 37);
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    backface-visibility: hidden;
  }
  .img-btn:active{
    background-color: white;
    color: rgb(16, 2, 37);
  }
  
  /* Show button on hover */
  .image-container:hover .img-btn {
    opacity: 1;
    pointer-events: auto;
  }
  .wel{
    transition: opacity 2s ease-in-out ;
  }
  .wel.hide {
    opacity: 0; 
  }

